/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03242b; /* მუქი ლურჯი ფონი */
    padding: 15px 50px;
    color: white;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: serif;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a.active {
    color: orange; /* Home ღილაკის ფერი */
}

.nav-links a:hover {
    color: orange; /* Hover ეფექტი */
}