/* Reset some basic styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* ფონის ფერი */
}

/* Main heading styles */
.main-heading {
    color: #333; /* ტექსტის ფერი */
    text-align: center; /* განლაგება */
    font-size: 2.5rem; /* ტექსტის ზომა */
    font-weight: bold; /* ტექსტის სისქე */
    margin: 20px 0;
    border-bottom: 2px solid #007BFF; /* ქვედა საზღვარი */
}

/* Styled paragraph */
.styled-paragraph {
    color: #fff; /* ტექსტის ფერი */
    background-color: #007BFF; /* ფონის ფერი */
    text-align: left; /* განლაგება */
    font-size: 1.2rem; /* ტექსტის ზომა */
    font-weight: 600; /* ტექსტის სისქე */
    border: 3px dashed #004085; /* საზღვარი */
    padding: 10px;
    border-radius: 5px; /* საზღვრის მომრგვალება */
    margin: 20px;
}