/* ID-ის სელექტორების გამოყენებით ფერების მინიჭება */

/* პირველი პარაგრაფი - წითელი */
#para1 {
    color: rgb(255, 0, 0); /* წითელი */
}

/* მეორე პარაგრაფი - მწვანე */
#para2 {
    color: rgb(0, 128, 0); /* მწვანე */
}

/* მესამე პარაგრაფი - ლურჯი */
#para3 {
    color: rgb(0, 0, 255); /* ლურჯი */
}

/* მეოთხე პარაგრაფი - ყვითელი */
#para4 {
    color: rgb(255, 255, 0); /* ყვითელი */
}

/* მეხუთე პარაგრაფი - იასამნისფერი */
#para5 {
    color: rgb(128, 0, 128); /* იასამნისფერი */
}