/* კლასი სელექტორის გამოყენება ღილაკების ფონის გასტილვისთვის */
.black-button {
    background-color: black; /* შავი ფონი */
    color: white; /* თეთრი ტექსტი */
    border: none; /* საზღვრის მოშლა */
    padding: 10px 20px; /* ღილაკის ზომის განსაზღვრა */
    font-size: 16px; /* ტექსტის ზომა */
    border-radius: 5px; /* ღილაკის კუთხეების მომრგვალება */
    cursor: pointer; /* მაუსის ხელსაჩვენი სტილი */
}

/* Hover ეფექტი */
.black-button:hover {
    background-color: #444; /* ღილაკის ფონის შეცვლა მოუსვლისას */
    color: #ddd; /* ტექსტის ფერის ცვლილება */
}